@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $color-text;
  background: $bg-primary;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include scrollbar;
}