@use 'sass:color';
@use '../abstracts/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  color: $color-text;
}

h1 {
  font-size: $font-size-4xl;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-xl;
}

p {
  margin-bottom: $spacing-4;
}

a {
  color: $color-lavender;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: color.adjust($color-lavender, $lightness: 10%);
  }
}