@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.btn {
  @include button-base;
  
  &--primary {
    @include button-primary;
  }
  
  &--secondary {
    @include button-secondary;
  }
  
  &--danger {
    @include button-danger;
  }
  
  &--sm {
    padding: $spacing-2 $spacing-4;
    font-size: $font-size-xs;
  }
  
  &--lg {
    padding: $spacing-4 $spacing-8;
    font-size: $font-size-base;
  }
}

