@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

input,
textarea,
select {
  @include input-base;
}

label {
  display: block;
  margin-bottom: $spacing-2;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $color-subtext;
}