@use '../abstracts/variables' as *;

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 3px solid $color-overlay;
  border-top-color: $color-lavender;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}